<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    {# <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title> #}
    <title>{% if header.title %}{{ header.title|e('html') }}{% endif %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# {% include 'partials/metadata.html.twig' %} #}

    {# <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" /> #}
    {# <link rel="canonical" href="{{ page.url(true, true) }}" /> #}

    {% block stylesheets %}
        {# {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
        {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
        {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %} #}
        {% do assets.addCss('theme://css/reset.css') %}
        {% do assets.addCss('theme://css-compiled/style.css') %}
        {# {% do assets.addCss('theme://css/custom.css') %}
        {% do assets.addCss('theme://css/line-awesome.min.css') %} #}
    {% endblock %}
    {{ assets.css() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/qgr7mna.css">
    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/dropdown-menu.js') %}
        {% do assets.addJs('theme://js/tabs.js') %}
    {% endblock %}
    {{ assets.js() }}

    <script>
        $(document).ready(function() {
            //apply the smooth to all links at this page
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    //store hash
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){ 
                        window.location.hash = hash;
                    });
                } //end if
            });
        });
    </script>

{% endblock head %}
</head>

<body class="{{ page.header.body_classes }}">

{% include 'partials/header.html.twig' %}

{{ page.content }}

{% include 'partials/footer.html.twig' %}

<script>
// read more
function readMore_manifesto() {
    moreText_manifesto = document.getElementById("moreManifesto");
    btnMore1 = document.getElementById("btnMore_manifesto");
    if (moreText_manifesto.style.display === "block") {
        moreText_manifesto.style.display = "none";
        btnMore1.innerHTML = "Read More";
    } else {
        moreText_manifesto.style.display = "block";
        btnMore1.innerHTML = "Read Less";
    }
}
function readMore_tribute() {
    moreText_tribute = document.getElementById("moreTribute");
    btnMore2 = document.getElementById("btnMore_tribute");
    if (moreText_tribute.style.display === "block") {
        moreText_tribute.style.display = "none";
        btnMore2.innerHTML = "Read More";
    } else {
        moreText_tribute.style.display = "block";
        btnMore2.innerHTML = "Read Less";
    }
}
</script>

</body>

</html>