<header>
    <div class="container">
        <div class="logoWrap">
            <a href="{{ base_url }}"><img src="{{ base_url }}/images/logo-subutai-web-mono-white.png"></a>
        </div>
        <div class="menuWrap">
            <nav id="socialNav">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/channel/UCISHGzbHjYWYFfu7krnYLkA" target="_blank"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/subutai-social-cloud/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://www.reddit.com/r/SubutaiKHAN/" target="_blank"><i class="fab fa-reddit-alien"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Subutai_KHAN" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://t.me/SubutaiKHAN" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                    <li>
                        <a href="https://slack.subutai.io/" target="_blank"><i class="fab fa-slack-hash"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/SubutaiKHAN/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    </li>
                </ul>
            </nav>
            <nav id="mainMenu" class="topNav">
                <div class="dropdown">
                    <button class="dropbtn">Products <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="{{ base_url }}/products/subutai-router">Router</a>
                        <a href="{{ base_url }}/products/subutai-peeros">PeerOS</a>
                        <a href="{{ base_url }}/products/subutai-bazaar">Bazaar</a>
                        <a href="{{ base_url }}/products/subutai-blueprints">Blueprints</a>
                        <a href="{{ base_url }}/products/khan">KHAN</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">About <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="{{ base_url }}/about/leadership">Leadership</a>
                        <a href="{{ base_url }}/about/team">Team</a>
                    </div>
                </div>
                <a href="{{ base_url }}/getting-started">Getting Started</a>
                <a href="https://docs.subutai.io/" target="_blank">Documentation</a>
                <div class="dropdown">
                    <button class="dropbtn">Ideation <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Blog</a>
                        <a href="#">Hardware Security</a>
                        <a href="{{ base_url }}/ideation/p2p-cloud">P2P Cloud</a>
                    </div>
                </div>
                <a href="{{ base_url }}/contact">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </nav>
        </div>
    </div>
</header>